/* header */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #222222;
        z-index: 2;
    }
    .container {
        max-width: 1180px;
        margin: 0px auto;
        padding: 0px 10px;
    }
    &__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;
    }
    &__logo {
        flex: 0 0 60px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        z-index: 3;
        img {
            max-width: 100%;
            display: block;
        }
    }
    /*burger-menu*/
    &__burger {
        display: none;
    }
    &__list {
        display: flex;
        position: relative;
        z-index: 2;
        li {
            list-style: none;
            margin: 0px 0px 0px 20px;
        }
    }
    &__link {
        color: #ABB2BF;
        text-transform: uppercase;
        font-size: 18px;
        text-decoration: none;
        transition: all 0.3s ease 0s;
        &:hover {
            color: #fff;
        }
    }
    @media (max-width: 767px) {
        body.lock {
            overflow: hidden;
        }
        &__body {
            height: 50px;
        }
        &__logo {
            flex: 0 0 40px;
        }
        &__burger {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 3;
            span {
                position: absolute;
                background-color: #fff;
                left: 0;
                width: 100%;
                height: 2px;
                top: 9px;
                transition: all 0.3s ease 0s;
            }
            &:before {
                content: "";
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
                top: 1px;
            }
            &:after {
                content: "";
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
                bottom: 1px;
            }
        }
        &__burger.active {
            span {
                transform: scale(0);
            }
            &:before {
                transform: rotate(45deg);
                top: 9px;
            }
            &:after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
        }
        &__menu {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #1E2227;
            padding: 70px 10px 20px 10px;
            transition: all 0.3s ease 0s;
            overflow: auto;
        }
        &__menu.active {
            top: 0;
        }
        &__list {
            display: block;
            li {
                margin: 0px 0px 20px 0px;
            }
        }
        &__link {
            font-size: 24px;
        }
    }
}