*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}
body{
    overflow: hidden;
}


#cameraPosition{
    position: absolute;
    margin: 1vh;
    padding: 1%;
    display: block;
    text-align: center;
    background-color: white;
    width-max: 25hv;
    background-color: #c0c0c0;
    border: 6px solid #6f1414;
    border-radius: 25px;
    opacity: .3;
    transition: 0.3s;
}
#home:hover,#cameraPosition:hover, #inputs:hover{
    opacity: 1.1;
}

#home{
    position: absolute;
    right: 0;
    margin: 1vh;
    padding: 1%;
    display: block;
    text-align: center;
    background-color: white;
    width-max: 25hv;
    background-color: #c0c0c0;
    border: 6px solid #6f1414;
    border-radius: 25px;
    opacity: .3;
    transition: 0.3s;
    cursor: pointer;
    display: none;
}


/*
    checkboxes:
*/

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #f32163;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#inputs {
    position: absolute;
    right: 0;
    margin: 1vh;
    padding: 1%;
    display: block;
    text-align: center;
    background-color: white;
    width-max: 25hv;
    background-color: #c0c0c0;
    border: 6px solid #6f1414;
    border-radius: 25px;
    opacity: .3;
    transition: 0.3s;
}