div{
    height: 400px;
    width: 300px;
    border: solid 1px;
    display: inline-block grey;
}
.div1{
    height: 100px;
    float: right;
}
li{
    display: inline-block;
    margin: 0 10px;
    background-color: rgb(130, 116, 211);
    padding: 4px;
    border-radius: 4px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

li:hover{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin: 2px 8px 0px 13px;
}