body{
    font-family: 'El Messiri', sans-serif;
}
table{
    margin-top: 3rem;
}
table img{
    width: 200px;
    height: 100px;
}
.pilisos{
    margin-top: 5rem;
}

.otstup{
    margin-bottom: 5rem;
}