body {
    font-family: 'El Messiri', sans-serif;
    color: blue;
}

table {
    margin-top: 3vh;
}

table img {
    width: 200px;
    height: 100px;
}

.pilisos {
    margin-top: 5vh;
}

.otstup {
    margin-bottom: 10vh;
}

body{
    
    background: linear-gradient(45deg, #fff1eb, #ace0f9);
    height: 100vh;
}
.btForstart {
    height: 30vh;
}

.vertical-align-middle {
    vertical-align: middle
}

.battery{
    margin: 10px;
    margin-top: 50px;
}

.svg-container{
    display: inline;
    position: relative;
}
.svg-content {
    height: 140px;
    width: 140px;
}


