.taskbar {
  @apply w-full bg-gray-900 text-white h-16 fixed bottom-0 flex items-center px-4 justify-start;
  z-index: 100;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 100%;
}

.startButton {
  @apply flex items-center cursor-pointer relative w-10 h-10 p-2 rounded;
  box-sizing: border-box;
  transition: .3s all ease;

  &:hover {
    @apply bg-gray-600;
  }
}

.windowsIcon {
  @apply w-6 h-6;
}

.windowsContainer {
  @apply flex items-center overflow-x-auto mx-5;
}

.windowsContainer::-webkit-scrollbar {
  height: 8px;
}

.windowsContainer::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 10px;
}

.windowsContainer::-webkit-scrollbar-track {
  background-color: #2d3748;
}

.windows {
  @apply flex whitespace-nowrap;
}

.taskbarIcon {
  @apply mr-2 p-2 flex items-center  rounded-md cursor-pointer transition-colors duration-300 justify-start h-10 relative bg-opacity-50;
  box-sizing: border-box;
  transition: .3s all ease;


  &::before,
  &::after {
    content: "";
    position: absolute;
  }
  &::after {
    width: 20%;
    border-radius: 1rem;
    height: 3px;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s all ease;
    @apply bg-white;
  }

  &.grouped {
    position: relative;
    z-index: 1;


    &::before {
      width: calc(100% - 6px);
      height: 100%;
      border-radius: inherit;
      background-color: inherit;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }


  .windowIcon {
    @apply p-2 text-[1.3rem];
    transition: .2s all ease;
  }

  &.activeWindow {
    @apply bg-gray-700 ;

    &::before {
      box-shadow: 3px 0 5px rgba(0, 0, 0, 0.3);
    }

    &::after {
      width: 50%;
    }
  }

  &:hover {
    @apply bg-gray-600 bg-opacity-50;

    &.grouped {
      @apply bg-gray-600;

      &::before {
        box-shadow: 3px 0 5px rgba(0, 0, 0, 0.3);
      }
    }

  }

  &:active {
    .windowIcon {
      @apply scale-[.80];
    }
  }


}

.taskbarIconPinned {
  &::after {
    width: 0 !important;
  }
}

.taskbarRight {
  @apply flex items-center ml-auto;
}


.clock {
  @apply mr-2;

  @apply cursor-pointer p-2 rounded;
  transition: .3s all ease;

  &:hover {
    @apply bg-gray-600;
  }
}


.notifications {
  @apply fixed bottom-[4.5rem] right-4 bg-gray-800 text-white p-4 rounded-lg shadow-lg;
  width: 250px;
}

.notification {
  @apply flex items-center mb-2 p-2 bg-gray-700 rounded;

  .notificationIcon {
    @apply w-10 h-10 mr-4 cursor-pointer p-3 rounded;
    transition: .3s all ease;

    &:hover {
      @apply bg-gray-600;
    }
  }

  strong {
    @apply block text-sm;
  }

  p {
    @apply text-xs;
  }
}


.contextMenu {
  @apply absolute bg-gray-800 text-white rounded shadow-lg z-50 py-1 mx-1 min-w-[12rem];
  z-index: 100;

  .contextMenuItem {
    @apply px-2  mx-2 py-1 my-1 cursor-pointer hover:bg-gray-600 active:bg-gray-700 flex flex-row items-center gap-2 rounded-sm;
  }

  .contextMenuDivide {
    @apply border-t border-gray-300 my-2;
  }

  .contextMenuIcon {
    @apply mr-2;
  }

}