body{
    margin: 0;    
}

div{
    border: 1px solid black;
}

.mainDiv{
    text-align: center;
    background-image: url(bg1.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.mainDiv div{
    width: 960px;
    margin: 0 auto;    
}
.upperMenu{
    height: 50px;
    width: 100% !important;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin: 0;
}
.upperMenu ul li{
    display: inline-block;
    width: auto;
    margin: 0px 20px;
    font-family: 'Yeseva One', cursive;
    cursor: pointer;
    font-size: 30px;
}

.bunners{
    margin-top: 51px !important;
    height: 300px;
}
.middleMenu{
    height: 100px;
}
.middleInto{
    height: 500px;
}
.bottomInto{
    height: 500px;
}
.footer{
    height: 300px;
}
