/* main content */

.main {
    flex: 1 1 auto;
    padding: 100px 0px 0px 0px;
    background: #1E2227;
    color: #ABB2BF;
    .main__text {
        font-size: 18px;
        line-height: 25px;
        padding: 100px;
        margin: 0px 0px 20px 0px;
        a {
            color: #ABB2BF;
            text-decoration: underline;
            transition: all 0.3s ease 0s;
            &:hover {
                color: #ff4f4f;
            }
        }
    }
    @media (max-width: 767px) {
        & {
            padding: 60px 0px 0px 0px;
        }
        .main__text {
            padding: 0px 30px;
        }
    }
    .play-button {
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        margin: 100px 0px;
        cursor: pointer;
        .play-button__button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            width: 200px;
            overflow: hidden;
            img {
                width: 100px;
                position: absolute;
                opacity: .0;
                transition: all 0.3s ease 0s;
            }
            p {
                font-size: 25px;
                position: absolute;
                transition: all 0.3s ease 0s;
                color: #ABB2BF;
            }
            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 200px;
                height: 100px;
                background: #000;
                transition: all 0.3s ease 0s;
                opacity: .1;
            }
            &:hover {
                &::before,
                &::after {
                    opacity: 1;
                }
                &::before {
                    background-image: url(/img/mech_1.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    transform: translateX(-350px) scale(1.5);
                    border-radius: 50px 0px 0px 50px;
                    box-shadow: 0px -10px 30px #ffffff;
                }
                &::after {
                    background-image: url(/img/mech_2.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    transform: translateX(350px) scale(1.5);
                    border-radius: 0px 50px 50px 0px;
                    box-shadow: inset 10px 10px 50px #fff;
                    box-shadow: 0px -10px 30px #ffffff;
                }
                p {
                    font-size: 65px;
                    animation: color-anim 10s infinite;
                }
                @keyframes color-anim {
                    0% {
                        color: #910000;
                    }
                    25% {
                        transform: rotate(-4deg);
                    }
                    50% {
                        color: #ff4f4f;
                    }
                    75% {
                        transform: rotate(4deg);
                    }
                    90% {
                        color: #af2121;
                    }
                    100% {
                        color: #910000;
                    }
                }
                img {
                    transform: scale(3);
                    opacity: .52;
                }
                img.active {
                    animation: wobble-hor-bottom 100s infinite;
                }
                @keyframes wobble-hor-bottom {
                    0%,
                    100% {
                        transform: scale(3);
                        transform-origin: 50% 50%;
                    }
                    15% {
                        transform: scale(3) rotate(-40deg);
                    }
                    30% {
                        transform: scale(3) rotate(36deg);
                    }
                    45% {
                        transform: scale(3) rotate(-36deg);
                    }
                    60% {
                        transform: scale(3) rotate(24deg);
                    }
                    75% {
                        transform: scale(3) rotate(-12deg);
                    }
                }
            }
        }
        @media (max-width: 1000px) {
            &:hover {
                overflow: visible;
                transform: scale(.7, 1);
            }
        }
        @media (max-width: 700px) {
            &:hover {
                overflow: visible;
                transform: scale(.5, .7);
            }
        }
        @media (max-width: 500px) {
            &:hover {
                overflow: visible;
                transform: scale(.3, .5);
            }
        }
    }
    .main__h {
        text-transform: uppercase;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        font-size: 7em;
        transition: all 0.3s ease 0s;
        //user-select: none;
        cursor: pointer;
        &:hover {
            color: #fff;
        }
        @media (max-width: 720px) {
            & {
                font-size: 3em;
            }
        }
    }
    .container__cards {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 20px;
        user-select: none;
        margin-bottom: 100px;
        .container__card {
            width: 25%;
            background: #23272E;
            display: flex;
            flex-direction: column;
            display: flex;
            // justify-content: center;
            align-items: center;
            min-height: 300px;
            transition: all 0.3s ease 0s;
            padding: 10px;
            &:hover {
                background: #2C313C;
            }
            img {
                width: 80%;
                height: 20em;
                margin-bottom: 10px;
                border: #23272E solid 5px;
                border-radius: 15px;
            }
            a {
                color: #ABB2BF;
                cursor: pointer;
                font-size: 2em;
                word-wrap: break-word;
                &:hover {
                    transition: all 0.3s ease 0s;
                    animation: color-anim-a 10s infinite;
                }
                @keyframes color-anim-a {
                    0% {
                        color: #ABB2BF;
                    }
                    10% {
                        color: #910000;
                    }
                    50% {
                        color: #ff4f4f;
                    }
                    85% {
                        color: #af2121;
                    }
                    94% {
                        color: #910000;
                    }
                    100% {
                        color: #ABB2BF;
                    }
                }
            }
        }
        @media (max-width: 960px) {
            .container__card {
                width: 33.3%;
            }
        }
        @media (max-width: 720px) {
            .container__card {
                width: 50%;
            }
        }
        @media (max-width: 540px) {
            .container__card.container__card {
                width: 100%;
            }
        }
    }
}